<div class="container">
  <div class="rest-details">
    <h1 class="display-3"><%= @restaurant.name %></h1>
    <h3><%= @restaurant.category %></h3>
    <h3><%= @restaurant.address %></h3>
  </div>
  <div class="review-section mt-3">
    <%= render 'forms/new_review' %>
    </div>
  </div>
</div>



